<nav ng-include="'/views/templates/nav.template.html'"></nav>

<h1 class="main-header" typed-effect text="'contact.'" delay="400" speed="150" blink="true" cursor="|">|</h1>
<h2 class="sub-header">Contact Me<span class="sub-header__break">Let's work together</span></h2>
<ul class="socials">
    <li class="social social__linkedin">
        <a target="_blank" href="https://www.linkedin.com/in/monicacwheeler/">
            <span class="social__icon">
                <i class="fab fa-fw fa-linkedin-in"></i>
            </span>
            <span class="social__text">
                LinkedIn
            </span>
        </a>
    </li>
    <li class="social social__github">
        <a target="_blank" href="https://github.com/monicawheeler">
            <span class="social__icon">
                <i class="fab fa-fw fa-github-alt"></i>
            </span>
            <span class="social__text">
                GitHub
            </span>
        </a>
    </li>
    <li class="social social__codepen">
        <a target="_blank" href="https://codepen.io/frogmcw/">
            <span class="social__icon">
                <i class="fab fa-fw fa-codepen"></i>
            </span>
            <span class="social__text">
                CodePen
            </span>
        </a>
    </li>
</ul>
<footer class="footer" ng-include="'/views/templates/footer.template.html'"></footer>
